<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-2">
			<div id="category" ng-controller="CategoryController">
				<ul>
					<li ng-repeat="cat in categories">
							{{ cat }}
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="container-fluid">
				<div class="row">
					<form class="form-vertical" role="form">
						<div class="form-group">
							<div class="col-sm-10">
								<input class="form-control" id="search" placeholder="Title/Author/ISBN" />
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<div class="row">Filters</div>
				<div class="row">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#">Top Rated</a>
						</li>
						<li>
							<a href="#">Best Sellers</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>