<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-2">
			<div id="category" ng-controller="CategoryController">
				<ul>
					<li ng-repeat="cat in categories">
						{% verbatim %}
						<a href="#{{cat.id}}">{{ cat.name }}</a>
						{% endverbatim %}
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="container-fluid">
				<div class="row">
					<form class="form-vertical" role="form">
						<div class="form-group">
							<div class="col-sm-10">
								<input class="form-control ui-widget" id="search" placeholder="Title/Author/ISBN" ng-model="searchText" />
							</div>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
				<div id="filter" class="row">Filter</div>
				<div class="row">
					<div id="searchResult" class="container-fluid" ng-controller="SearchController" ng-switch on="searchPage">
						<div ng-switch-when="result">
							<div ng-include="'{% url 'home:books_search_result' %}'"></div>
						</div>
						<div ng-switch-default>
							<div ng-include="'{% url 'home:books_search' %}'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>