<div class="container-fluid" ng-controller="BookSearchController">
	<div class="row">
		<ul class="nav nav-tabs">
			<li ng-class="{active: isTabSet('bs0')}">
				<a href="#" ng-click="setTab('bs0')">Top Rated</a>
			</li>
			<li ng-class="{active: isTabSet('bs1')}">
				<a href="#" ng-click="setTab('bs1')">Best Sellers</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="row" ng-repeat="book in books">
				{% verbatim %}
				<div class="col-xs-3">{{book.name}}</div>
				<div class="col-xs-6">{{book.desc}}</div>
				<div class="col-xs-3">test</div>
				{% endverbatim %}
			</div>
		</div>
	</div>
</div>